#app
NODE_ENV=development

# channels
INCOMING_CHANNEL=notifications.incoming
DISPATCH_CHANNEL=notifications.dispatch

# Delivery Service Port (HTTP + WebSocket)
DELIVERY_PORT=3002 #inside docker
# DELIVERY_PORT=8989 #for localtest run

# Redis Configuration
REDIS_HOST=redis  #inside docker
# REDIS_HOST=localhost #for localtest run
REDIS_PORT=6379
